<div class="create">
    <h1>Magnates: How do they work?</h1>

    <h2>We're in a game!</h2>

    <h3>Game details:</h3>
    <ul>
        <li>Name: {{currentGameConfig.name}}</li>
        <li>Gender: {{currentGameConfig.gender}}</li>
        <li>Complexion: {{currentGameConfig.complexion}}</li>
        <li>Hair Color: {{currentGameConfig.hairColor}}</li>
        <li>New game?: {{currentGameConfig.isNew || 'false'}}</li>
        <li>Tutorial: <a href="javascript:void(0);" ng-show="!currentGameConfig.tutorialEnabled" ng-click="enableTutorial()">enable</a><span ng-show="currentGameConfig.tutorialEnabled">enabled</span> | <span ng-show="!currentGameConfig.tutorialEnabled">disabled</span><a href="javascript:void(0);" ng-show="currentGameConfig.tutorialEnabled" ng-click="disableTutorial()">disable</a></li>
    </ul>

    <ul>
        <li><a ng-show="pageId !== 'summary'" href="#game/summary">Summary</a><span ng-show="pageId === 'summary'">Summary</span></li>
        <li><a ng-show="pageId !== 'market'" href="#game/market">Market</a><span ng-show="pageId === 'market'">Market</span></li>
        <li><a ng-show="pageId !== 'stocks'" href="#game/stocks">Stocks</a><span ng-show="pageId === 'stocks'">Stocks</span></li>
    </ul>

    <h3>Page: {{pageId}}</h3>

    <p><a href="#/">Back to the main menu</a></p>

    <div ng-if="currentGameConfig.tutorialEnabled && currentGameConfig.isNew">
        <h3>Welcome!</h3>
        <p>You've just embarked on an adventure of capital!</p>
    </div>
    <div ng-if="currentGameConfig.isNew && !currentGameConfig.tutorialEnabled">
        <h3>Welcome!</h3>
        <p>You seem to know your way around: hop to it. You can reenable the tutorial at any time</p>
    </div>
    <div ng-if="currentGameConfig.tutorialEnabled && !currentGameConfig.isNew">
        <h3>Welcome back!</h3>
        <p>Here's some helpful advice</p>
    </div>
</div>
